In [2]:
# LIST 
#even filtering
n = int(input('enter the nmber'))
list1 = [x for x in range(1,n+1) if x%2 == 0]
print(list1)

enter the nmber 12

[2, 4, 6, 8, 10, 12]

In [3]:
n = int(input('enter the nmber'))
list1 = [x for x in range(1,n+1) if x%2 != 0]
print(list1)

enter the nmber 12

[1, 3, 5, 7, 9, 11]

In [4]:
names = ['karan', 'singh', 'xyz']
upper_names = [name.upper() for name in names]
print(upper_names)

['KARAN', 'SINGH', 'XYZ']

In [6]:
# FLATENN NESTED LIST
nested = [[1,2,3],[4,5],[6,[7,8]]]
flatten = []
for sublist in nested:
    for items in sublist:
        flatten.append(items)
print(flatten)

[1, 2, 3, 4, 5, 6, [7, 8]]

In [15]:
#list of tuples
list1 = []
for x in range(0,4):
    for y in range(x,4):
        tuple1 = (x,y)
        list1.append(tuple1)
print(list1)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

In [16]:
pairs = [(x,y) for x in range(0,4) for y in range(x,4)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]