In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\DELL\\Documents\\tips.csv")

In [3]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [8]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lb = LabelEncoder()

In [9]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [10]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [21]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [22]:
from sklearn.model_selection import train_test_split

In [24]:
x_train ,x_test ,y_train , y_test = train_test_split(x,y,test_size = 0.3,random_state =
                                                    23)

In [29]:
print(x_train.shape)

(170, 6)

In [28]:
df.shape

(244, 7)

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
sc = StandardScaler()

In [34]:
x_train_sc =sc.fit_transform(x_train)